<html>
	<head>
	<title>FusionCharts Charts</title>		
	<script type="text/javascript" src="../fusioncharts/js/fusioncharts.js"></script>
	<script type="text/javascript" src="../fusioncharts/js/themes/fusioncharts.theme.fint.js"></script>



	<div class="jumbotron">
		<h1>Team OSAM Analytics</h1>
		<p class="lead">
			<img src="images/osam.png"><br>
		</p>
		<p>
			<a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span>
			</a>
		</p>
	</div>


	<body>
		<div id="chartContainer">FusionCharts XT will load here!</div>
	</body>
	
	</head>

</html>
