<div class="jumbotron text-center col-md-12 col-lg-12">
		<p>{{ message }}</p>
</div>
<div class="comp-background col-md-12 col-lg-12">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
			<a href="http://www.northropgrumman.com//">
				<img src="../images/northropgrumman.png" style="width:140%; padding-top:10%;"/>
			</a>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<p>Joe Obernberger</p>
			<p>Ruth Contino</p>
			<p>Carol Driggs</p>
			<p>Jason Liu</p>
		</div>

		<div class="col-sm-4 col-md-4 col-lg-4">
			<p>Benjamin Chulaluxsiriboon</p>
			<p>Veronica Bloom</p>
			<p>Ray Renner</p>
			<p>Manish Oberoi</p>
		</div>
	</div>
</div>
