<div class=" container jumbotron text-center col-md-12 col-lg-12">
		<p>{{ message }}</p>
</div>
<div id="team_description" class="container comp-background">
	<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 comp-background">
			<img src="../images/samhorton.jpg" style="width:100%;"/>
			<h3>David Bittle</h3>
      <p>Team Leader</p>
      <p>Provide text on what "" worked on</p>
			<a href="https://github.com/dbittle">
				<img src="../images/GitHub-Mark.png" style="width:20%;"/>
			</a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 comp-background">
			<img src="../images/samhorton.jpg" style="width:100%;"/>
			<h3>Bryan Connelly</h3>
			<p>Testing Manager</p>
      <p>LOL. JK.</p>
			<a href="https://github.com/bconnelly">
				<img src="../images/GitHub-Mark.png" style="width:20%;"/>
			</a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 comp-background">
			<img src="../images/samhorton.jpg" style="width:100%;"/>
			<h3>Phu Dang</h3>
			<p>Analytics Manager</p>
      <p>Provide text on what "" worked on</p>
			<a href="https://github.com/phugiadang">
				<img src="../images/GitHub-Mark.png" style="width:20%;"/>
			</a>
    </div>
  </div>

	<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 comp-background">
			<img src="../images/samhorton.jpg" style="width:100%;"/>
			<h3>Sam Horton</h3>
			<p>Documentation Lead</p>
      <p>Provide text on what "" worked on</p>
			<a href="https://github.com/CommandoScorch16">
				<img src="../images/GitHub-Mark.png" style="width:20%;"/>
			</a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 comp-background">
			<img src="../images/samhorton.jpg" style="width:100%;"/>
			<h3>Eric Lindemann</h3>
			<p>Deployment Manager</p>
      <p>Provide text on what "" worked on</p>
			<a href="https://github.com/EricLindemann">
				<img src="../images/GitHub-Mark.png" style="width:20%;"/>
			</a>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 comp-background">
			<img src="../images/samhorton.jpg" style="width:100%;"/>
			<h3>Daniel Nolan</h3>
			<p>UI Lead</p>
      <p>Provide text on what "" worked on</p>
			<a href="https://github.com/dano8957">
				<img src="../images/GitHub-Mark.png" style="width:20%;"/>
			</a>
    </div>
  </div>
</div>
