<div ng-controller="teamController" id="slides_control">
    
      <body>
        <span>
          David Bittle
        </span>
      </body>

      <body>
        <span>
          Bryan Connelly
        </span>
      </body>

      <body>
        <span>
          Phu Dang
        </span>
      </body>

      <body>
        <span>
          Sam Horton
        </span>
      </body>

      <body>
        <span>
          Eric Lindemann
        </span>
      </body>

      <body>
        <span>
          Daniel Nolan
        </span>
      </body>

</div>
