<div class="jumbotron text-center col-md-12 col-lg-12">
		<p>{{ message }}</p>
</div>
<div id="team_description">
	<body class="col-md-2 col-lg-2">
		<h1>David Bittle</h1>
	</body>
	<body class="col-md-2 col-lg-2">
		<h1>Bryan Connelly</h1>
	</body>
	<body class="col-md-2 col-lg-2">
		<h1>Phu Dang</h1>
	</body>
	<body class="col-md-2 col-lg-2">
		<h1>Samuel Horton</h1>
	</body>
	<body class="col-md-2 col-lg-2">
		<h1>Eric Lindemann</h1>
	</body>
	<body class="col-md-2 col-lg-2">
		<h1>Daniel Nolan</h1>
	</body>
</div>
