<!-- trump.html -->
<head>
	<script type="text/javascript" src="/fusioncharts/js/fusioncharts.js"></script>
	<script type="text/javascript" src="/angular-fusioncharts.min.js"></script>
</head>

<div class="jumbotron text-center col-md-12 col-lg-12">
        <p>{{ message }}</p>
</div>

<!-- Carousel for Trump's Analysis Images -->
<div ng-controller="trumpController" id="trump_slides">
		<carousel active="active" interval="myInterval">
			<slide ng-repeat="slide in slides track by slide.id" active="slide.active" index="slide.id">
				<img ng-src="{{slide.image}}">
				<embed ng-src="{{slide.text}}">
			</slide>
		</carousel>
</div>
