.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image:url(../images/americanflag.jpg);
}
.break-components{
  padding-top: 2%;
}
.comp-background{
  background-color: white;
  padding: 1% 2% 2% 2%;
  border-radius: 5px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
embed.ng-scope{
    width: 100%;
}
.nav-button{
  color: white;
  background-color: black;
  border: none;
}
.nav-image{
  border-radius: 5px 5px 5px 5px;
  padding-left:2%;
  width:25%;
  height:10%;
}
.navbar-color{
  background-color: #000000;
}
.navbar-inner{
  background-color:#000000;
}
.navbar-padding{
    padding: 2% 2% 2% 2%;
}
.navbar-fontsize{
    font-size: 20px;
}
.navbar-border-top{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ol.carousel-indicators{
  bottom:-30px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting content */
.content {
    margin-top: 40px 0;
}

.content p + h4 {
    margin-top: 28px;
}

/* Google Map! */
#map {
    height: 645px;
    width: 645px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1120px;
    }

    /* Remove the padding we set earlier */
    .header,
    .content,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

}
